html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
li{
     list-style-type:none;
}
a:hover{
    text-decoration: none !important;
}
body {
    line-height: 1;
    font-family: roboto;
}
ol, ul {
    list-style: none;
    margin-bottom: 0px!important;

}
.mb-0{
     margin-bottom:0 !important;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img {
  max-width: 100%;
  height: auto;
}
.bold {
    font-weight: bold;
}
.text-10{
    font-size: 13px;
}
.text-14{
    font-size:14px;
}
.text-16{
    font-size:16px;
}
.text-18{
    font-size:20px;
}
.text-30{
    font-size: 30px;
}
.bg-grey{
    background-color: #DCDCDC;
}
.bg-g{
    background-color: #efeff1;
}
.bg-body{
    background-color:#eef1f4;;
}
.text-blue{
    color:#52A1F0;
}
.bg-blue{
    background-image: linear-gradient(45deg,#3b95fa,#3bc6fa);
}
.bg-b{
    background-color: #409eff;
}
.rel{
     position: relative;
}
.fix-1{
    position: absolute;
    background-color:#344167;
    opacity:0.9;
    bottom: 0px;
}
.fix-s{
    position: absolute;
    bottom: 30px;
}
.p-6{
    padding:0 68px;
}
.s-tab{
    border:none;
}
.bg-ft{
    background-color: #393944;
}
.p-f{
    padding: 0 100px;
}
.m-f{
    margin-right: 100px;
}
.dropdown-toggle::after{
    display: none !important;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.text-h:hover .text-f {
  color: #00BFFF !important;
}
.border-h:hover {
    border-bottom: 1px solid #00BFFF;
}
.box-f:hover img{
    transform: scale(1.1);
}
.cours2:hover .hover{
  transform:scale(1.1);
  transition:.0001s;
}
.cours2:hover .card-body{
    background-color:  #00BFFF;
    box-shadow: 0 0 30px #00BFFF;
    color: white !important;
}
.p-0{
    padding-left : 0 !important;
    padding-right: 0 !important;
}
div.ads-h:hover{
     background-color:  white;
     box-shadow:0 3px 20px #dbd8ec;
}
.ht{
    height: 100px;
    width: 330px;
    padding-left: 15px;
}
.s{
    background-color:#344167 !important;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.sea{
    height: 50px;
    width: 330px;
}
.b{
    display: none;
}
.m-0{
    margin-left: 0px!important;
    margin-right: 0px!important;
}
.search-m{
    width: 80%;
    border-radius:15px 0 0 15px;
    border: none;
    padding:7px 0 7px 20px  ;
    outline:none;
}
.button-s{
    width: 20%; border:none;
    border-radius:0px 15px 15px 0;
    padding:4px 0 5px 0  ;
    outline:none;
    border :none;
}
@media (min-width: 1200px) {
    .personlist{
        width:23rem;
        height:220px;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px){
    .personlist{
        width:19rem;
        height:200px;
    }
}
.rounded-pill{
    border-radius: 20px;
    padding: 5px 10px;
}
.nav-bgimg{
    width: 210px;
    height: 20px;
    background: url(./image/bgimg.png) -138px -57px no-repeat #fff;
    position: relative;
    z-index: 2;
}
.sidebar-ct{
    margin :0 11px;
    width: 188px;
}
.menu-item{
    display: block;
    color: #a4a4a4;
    cursor: pointer;
}
.jag{
    display: block;
    width: 187px;
    height: 5px;
    background: url(./image/jag.png) no-repeat;
    position: absolute;
    bottom: -5px;
}
div.sticky{
    position: -webkit-sticky;
    position: sticky;
    top:0;
}
.checked{
    border-left: 3px solid #0099d9;
    color: #0099d9;
}
.business-title{
    display: block;
    padding-top: 28px;
    line-height: 26px;
    color: #0b0b0b;
    font-size: 26px;
    margin-bottom: 26px;
}
.business-title span {
    display: block;
    padding-left: 28px;
    border-left: 3px solid #0099d9;
}
.business-content{
    margin-left: 28px;
    padding-top: 20px;
    border-top: 1px solid #e5e4ed;
    min-height: 680px;
    position: relative;
}
.business-box{
    margin-bottom: 20px;
    font-size: 14px;
}
.business-box i{
    display: block;
    width: 36px;
    height: 36px;
    margin-bottom: 20px;

}
.icon-1{
     background: url(./image/business_icon1.png) no-repeat;
 }
.icon-2{
     background: url(./image/business_icon2.png) no-repeat;
 }
 .icon-3{
     background: url(./image/business_icon3.png) no-repeat;
 }
.business-box strong {
    display: block;
    font-weight: 400;
    font-size: 16px;
    color: #0b0b0b;
    margin-bottom: 12px;
    line-height: 16px;

}
.business-box-text {
    font-size: 14px;
    color: #737373;
}
.business-box-text p .orange {
    color: #fe9a69;
}
.item-top{
    width: 20%;
    margin-right: 2px;
    padding: 12px 0;
}
.item-t:hover{
    color: #aea9b6;
}
.actived {
    border: 2px solid #0099d9;
}
.actived a {
     color: #0099d9;
}
.actived a:hover{
    color: #0099d9;
}
.item-t{
    color: #aea9b6;
    padding: 17px 43px;
}
.title {
    bgmargin: 0px 0 20px 0;
    padding-top: 60px;
}
.title i {
    display: block;
    width: 16px;
    height: 1px;
    background: #0099d9;
}
.principle-detail p {
    line-height: 22px;
    color: #737373;
    font-size: 14px;
}
.condition-list ul li p {
    font-size: 14px;
    line-height: 26px;
    color: #737373;
    margin-left: 18px;
}
.condition-list ul li {
    background: url(./image/icon.png) 0 -166px no-repeat;
}
.card-body h3 {
    font-size: 16px;
    color: #191919;
}
.card-body p {
    padding-top: 18px;
    font-size: 14px;
    line-height: 22px;
    color: #737373;
}
.cost-list p {
    font-size: 14px;
    color: #7e7e7e;
    line-height: 22px;
}
.bt-cooperation{
    width: 134px;
    height: 42px;
    background: #0099d9;
    text-align: center;
    color: #fff;
    line-height: 42px;
    border: none;
    margin :50px 0 30px 95px;
    cursor: pointer;
}
.p-nav{
    padding:20px 0 !important;
}
.sendLable {
    width: 27px;
    height: 52px;
    font-size: 18px;
    color: #fff;
    background: url(./image/sendBg.png) no-repeat 0 0;
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 99;
    text-align: center;
    line-height: 50px;
}
.card__body {
    padding: 30px 20px 20px;
}
.text-o{
    color:#f56c6c;
}
.login_tips {
    padding-top: 60px;
    padding-left: 45px
}
.login_tips_title {
    font-size: 14px;
    color: #282828;
    padding-bottom: 20px;
}
.login_tips ul li span {
    color: #a4a1b1;
    padding-left: 8px;
    padding-top: 3px;
}
.login_tips_bottom {
    line-height: 40px;
    color: #9999a7;
}
.el-button--info {
    color: #fff;
    background-color: #909399;
    border-color: #909399;
    border-radius: 5px;
}
.collectLable {
    width: 27px;
    height: 52px;
    font-size: 18px;
    color: #fff;
    background: url(./image/receiveBg.png) no-repeat 0 0;
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 99;
    text-align: center;
    line-height: 50px;
}